@{
    ViewBag.Title = "Empleados";
}
<h2>@ViewBag.Title.</h2>
<br />

<asp:Label runat="server" Text="Label">Nombre de Proveedor</asp:Label>
<asp:TextBox runat="server"></asp:TextBox>
<br />
<asp:Label runat="server" Text="Label">Nombre de Proveedor</asp:Label>
<asp:TextBox runat="server"></asp:TextBox>
<br />
<asp:TextBox runat="server">Estado</asp:TextBox>
<asp:DropDownList runat="server"></asp:DropDownList>
<br />
<asp:Label runat="server" Text="Label">Cedula</asp:Label>
<asp:TextBox runat="server"></asp:TextBox>
<br />
<asp:Label runat="server" Text="Label">Direccion</asp:Label>
<asp:TextBox runat="server"></asp:TextBox>
<br />
<asp:Label runat="server" Text="Label">Telefono</asp:Label>
<asp:TextBox runat="server"></asp:TextBox>
<br />
<asp:Button runat="server" Text="Button">Ingresar</asp:Button>
<br />